<ion-header>
    <ion-toolbar>

        <ion-title>
            <img class="logo-left img-responsive" width="100px" style="margin-left: 25%;" src="../../assets/descarga.svg" />
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="secondary" style="margin-right: 20px;">
            <ion-icon name="search-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="background:#86aaee33">
        <ion-row>
            <ion-col>
                <ion-text>
                    <h1 style="color: #333270;font-weight: bold;">¡Bienvenido!</h1>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row style="color:#3928cc; border-style:solid; border-width: 5px;">

        </ion-row>
        <ion-row style="background:#ffffff;">
            <ion-col size="12" style="padding: 0px 10px 0px 10px; margin: 0;">
                <ion-text>
                    <p style="font-weight: bold; margin: 15px 0px 0px 0px;">Cuéntanos sobre ti</p>
                </ion-text>
            </ion-col>
            <ion-col size="4" style="padding: 0px 10px 0px 10px; margin: 0;">

                <p>Actualmente soy</p>

            </ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label position="floating">Desarrollador/Ingeniero</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12" style="padding: 0px 10px 0px 10px; margin: 0;">
                <ion-text>
                    <p style="font-weight: bold; margin: 15px 0px 0px 0px;font-size: 13px;color: #4d4bd3">Guardar en perfil</p>
                </ion-text>
                <br><br>
            </ion-col>
        </ion-row>
        <br><br>
    </ion-grid>

    <br>
    <ion-grid style="background:#96989b33">
        <br>
        <h3 style="padding-left: 12px;">Comience con estos cursos gratuitos</h3>
        <ion-slides>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://coursera-course-photos.s3.amazonaws.com/07/466221693c4b9699bafa6418fe6c05/Course-Image.jpg" />
                    <h2 style="margin: 0 5px;">Capacitación COVID-19 para trabajadores de la salud</h2>
                    <p style="color: darkgray;"><b>Stanford University</b></p>
                    <section>
                        <ion-button size="large" color="dark" href="https://www.coursera.org/learn/covid-19-training-healthcare">Curso Gratis</ion-button>

                    </section>
                    <br>
                </ion-card>
            </ion-slide>

            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://coursera-course-photos.s3.amazonaws.com/fe/dfa6b85f624a0ba690c56e917f529a/Captura-de-pantalla-2021-01-08-a-las-18.55.25.png" />
                    <h2 style="margin: 0 5px;">Manejo del enfermo semicrítico y crítico por COVID-19</h2>
                    <p style="color: darkgray;"><b>Universitat de Barcelona</b></p>
                    <section>
                        <ion-button size="large" color="dark" href="https://www.coursera.org/learn/covid-19-esp">Curso Gratis</ion-button>

                    </section>
                    <br>
                </ion-card>
            </ion-slide>


            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://coursera-course-photos.s3.amazonaws.com/58/9c6a5e4d0a4d1c90720fe8ec44687d/Logo-PAP-covid.png" />
                    <h2>Primeros Auxilios Psicológicos (PAP). Edición especial COV…</h2>
                    <p style="color: darkgray;"><b>Universitat Autònoma de Barcelona</b></p>
                    <section>
                        <ion-button size="large" color="dark" href="https://www.coursera.org/learn/covid-19-esp">Curso Gratis</ion-button>

                    </section>
                    <br>
                </ion-card>
            </ion-slide>

            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://coursera-course-photos.s3.amazonaws.com/20/b613075a114574be014b318707f049/Diabetes._FINALpsd.jpg" />
                    <h2 style="margin: 0 5px;">Actualización en el manejo del paciente con diabetes mellitu…</h2>
                    <p style="color: darkgray;"><b>Universidad Nacional Autónoma de México</b></p>
                    <section>
                        <ion-button size="large" color="dark" href="https://www.coursera.org/learn/actualizacion-manejo-diabetes-tipo-2">Curso Gratis</ion-button>
                    </section>
                    <br>
                </ion-card>
            </ion-slide>

            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://coursera-course-photos.s3.amazonaws.com/cd/d93036e1794fa2a0d25777352561d0/Contact_Tracing_icon_new.png" />
                    <h2 style="margin: 0 5px;">Rastreo de los contactos de la COVID-19</h2>
                    <p style="color: darkgray;"><b>Johns Hopkins University</b></p>
                    <section>
                        <ion-button size="large" color="dark" href="https://www.coursera.org/learn/rastreo-contactos-covid-19">Curso Gratis</ion-button>

                    </section>
                    <br>
                </ion-card>
            </ion-slide>

        </ion-slides>
    </ion-grid>

    <br>
    <ion-grid>
        <br>
        <h3 style="padding-left: 12px;">Obtén tu título</h3>
        <ion-slides>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/miad/maid_banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Arizona State University</b></p>

                    <ion-item href="https://www.coursera.org/degrees/bachelor-of-science-computer-science-london">
                        <ion-img src='../../assets/Captura.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/social-work-umich-banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Social Work MasterTrack® Certificate</b></p>

                    <ion-item href="https://www.coursera.org/mastertrack/social-work-umich">
                        <ion-img src='../../assets/Captura2.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/miad/maid_banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Arizona State University</b></p>

                    <ion-item href="https://www.coursera.org/degrees/bachelor-of-science-computer-science-london">
                        <ion-img src='../../assets/Captura.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/social-work-umich-banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Social Work MasterTrack® Certificate</b></p>

                    <ion-item href="https://www.coursera.org/mastertrack/social-work-umich">
                        <ion-img src='../../assets/Captura2.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/miad/maid_banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Arizona State University</b></p>

                    <ion-item href="https://www.coursera.org/degrees/bachelor-of-science-computer-science-london">
                        <ion-img src='../../assets/Captura.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/social-work-umich-banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Social Work MasterTrack® Certificate</b></p>

                    <ion-item href="https://www.coursera.org/mastertrack/social-work-umich">
                        <ion-img src='../../assets/Captura2.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-grid>


    <ion-grid style="background:#ffffff">
        <br>
        <h3 style="padding-left: 12px;">Explorar rutas de aprendizaje de carreras profesionales</h3>
        <ion-row style="background:#5e42c2; margin: 15px;">
            <ion-col size="12" style="padding: 0px 10px 0px 10px; margin: 0;">
                <ion-text>
                    <p style="font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(250, 237, 58);">Recorridos de aprendizaje de carrera profesional</p>
                </ion-text>
                <ion-text>
                    <p style="font-size: 22px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(250, 237, 58);">Explorar carreras profesionales</p>
                </ion-text>
                <ion-text>
                    <p style="font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(255, 255, 255);">Desarrolla habilidades relevantes para tu carrera profesional con cursos impartidos por las principales universidades y empresas</p>
                </ion-text>
                <ion-text>
                    <p style="font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(250, 237, 58);">Busca tu próximo rol</p>
                </ion-text>
                <br>
                <ion-button ion-button icon-end style="width: 295px;" href="https://www.coursera.org/learning-paths/data-science?utm=explore_career_plans_banner_on_logged-in-home">
                    Científico de datos
                    <ion-icon name="arrow-forward"></ion-icon>
                </ion-button>
                <ion-button ion-button icon-end style="width: 295px;" href="https://www.coursera.org/learning-paths/project-management?utm=explore_career_plans_banner_on_logged-in-home">
                    Gerente de proyectos ágiles
                    <ion-icon name="arrow-forward"></ion-icon>
                </ion-button>
                <ion-button ion-button icon-end style="width: 295px;" href="https://www.coursera.org/learning-paths/digital-marketing?utm=explore_career_plans_banner_on_logged-in-home">
                    Comercializador digital
                    <ion-icon name="arrow-forward"></ion-icon>
                </ion-button>
                <ion-button ion-button icon-end style="width: 295px;" href="https://www.coursera.org/learning-paths/network-engineering?utm=explore_career_plans_banner_on_logged-in-home">
                    Ingeniero de redes
                    <ion-icon name="arrow-forward"></ion-icon>
                </ion-button>
                <br><br>
            </ion-col>
            <br><br>
        </ion-row>


    </ion-grid>

    <ion-grid>
        <br>
        <h3 style="padding-left: 12px;">Cursos personalizados para ti</h3>
        <ion-slides>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/miad/maid_banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Arizona State University</b></p>

                    <ion-item href="https://www.coursera.org/degrees/bachelor-of-science-computer-science-london">
                        <ion-img src='../../assets/Captura.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/social-work-umich-banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Social Work MasterTrack® Certificate</b></p>

                    <ion-item href="https://www.coursera.org/mastertrack/social-work-umich">
                        <ion-img src='../../assets/Captura2.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/miad/maid_banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Arizona State University</b></p>

                    <ion-item href="https://www.coursera.org/degrees/bachelor-of-science-computer-science-london">
                        <ion-img src='../../assets/Captura.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/social-work-umich-banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Social Work MasterTrack® Certificate</b></p>

                    <ion-item href="https://www.coursera.org/mastertrack/social-work-umich">
                        <ion-img src='../../assets/Captura2.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/miad/maid_banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Arizona State University</b></p>

                    <ion-item href="https://www.coursera.org/degrees/bachelor-of-science-computer-science-london">
                        <ion-img src='../../assets/Captura.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card style="background:#ffffff;">
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/social-work-umich-banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                    <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                    <p style="color: darkgray;"><b>Social Work MasterTrack® Certificate</b></p>

                    <ion-item href="https://www.coursera.org/mastertrack/social-work-umich">
                        <ion-img src='../../assets/Captura2.JPG' style="height: 125% !important;"></ion-img>
                    </ion-item>
                    <br>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-grid>



    <ion-grid style="background:#96989b33">
        <br>
        <br>
        <ion-row style="background:#55b2f0; margin: 0px;">
            <ion-col size="12" style="padding: 0px 10px 0px 10px; margin: 0;">
                <h4 class="gray" style="text-align:center;">University of Michigan</h4>

                <ion-text>
                    <p style="text-align:center; font-size: 20px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Advance your career in the construction industry</p>
                </ion-text>

                <ion-text>
                    <p style="text-align:center; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Earn the Construction Engineering & Management MasterTrack™ Certificate.</p>
                </ion-text>
                <section>
                    <ion-button class="center" size="small" color="light" style="width: 60%;" href="https://www.coursera.org/learn/rastreo-contactos-covid-19">Enroll today</ion-button>
                </section>
                <br>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid style="background:#96989b33">
        <br>

        <ion-row style="background:#ffffff; margin: 0px;">
            <ion-col size="12" style="padding: 0px 10px 0px 10px; margin: 0;">
                <h4 class="gray" style="text-align:center;">University of Michigan</h4>

                <ion-text>
                    <p style="text-align:center; font-size: 20px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Advance your career in the construction industry</p>
                </ion-text>

                <ion-text>
                    <p style="text-align:center; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Earn the Construction Engineering & Management MasterTrack™ Certificate.</p>
                </ion-text>
                <section>
                    <ion-button class="center" size="small" color="light" style="width: 60%;" href="https://www.coursera.org/learn/rastreo-contactos-covid-19">Enroll today</ion-button>
                </section>
                <br>
            </ion-col>

        </ion-row>
        <br><br>
    </ion-grid>


    <ion-grid style="background:#ffffff">
        <br>
        <h4 class="gray" style="text-align:center;">Explora Coursera</h4>
        <ion-row style="background:#ffffff; margin: 0px;">
            <ion-col size="12" style="padding: 0px 10px 0px 10px; margin: 0;">
                <br>
            </ion-col>

            <ion-col size="4.5" style="border: solid 1px #8b8080;margin: 20px;">
                <p style="text-align:center; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Ciencia de Datos</p>
                <p style="text-align:center; font-size: 10px; font-weight: bold; margin: 0px 0px 0px 0px; color: rgb(0, 0, 0);">425 cursos</p>
                <br>
            </ion-col>
            <ion-col size="4.5" style="border: solid 1px #8b8080;margin: 20px;">
                <p style="text-align:center; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Negocios</p>
                <p style="text-align:center; font-size: 10px; font-weight: bold; margin: 0px 0px 0px 0px; color: rgb(0, 0, 0);">1095 cursos</p>
                <br>
            </ion-col>
            <ion-col size="4.5" style="border: solid 1px #8b8080;margin: 20px;">
                <p style="text-align:center; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Ciencias de la Computación</p>
                <p style="text-align:center; font-size: 10px; font-weight: bold; margin: 0px 0px 0px 0px; color: rgb(0, 0, 0);">668 cursos</p>


            </ion-col>
            <ion-col size="4.5" style="border: solid 1px #8b8080;margin: 20px;">
                <p style="text-align:center; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Salud</p>
                <p style="text-align:center; font-size: 10px; font-weight: bold; margin: 0px 0px 0px 0px; color: rgb(0, 0, 0);">969 cursos</p>
                <br>
            </ion-col>


        </ion-row>
        <br><br>


        <ion-grid>
            <br>
            <h3 style="padding-left: 12px;">Desarrolle las habilidades de epidemiología bajo demanda</h3>
            <ion-slides>
                <ion-slide>
                    <ion-card style="background:#ffffff;">
                        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/miad/maid_banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                        <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                        <p style="color: darkgray;"><b>Arizona State University</b></p>

                        <ion-item href="https://www.coursera.org/degrees/bachelor-of-science-computer-science-london">
                            <ion-img src='../../assets/Captura.JPG' style="height: 125% !important;"></ion-img>
                        </ion-item>
                        <br>
                    </ion-card>
                </ion-slide>
                <ion-slide>
                    <ion-card style="background:#ffffff;">
                        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/social-work-umich-banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                        <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                        <p style="color: darkgray;"><b>Social Work MasterTrack® Certificate</b></p>

                        <ion-item href="https://www.coursera.org/mastertrack/social-work-umich">
                            <ion-img src='../../assets/Captura2.JPG' style="height: 125% !important;"></ion-img>
                        </ion-item>
                        <br>
                    </ion-card>
                </ion-slide>
                <ion-slide>
                    <ion-card style="background:#ffffff;">
                        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/miad/maid_banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                        <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                        <p style="color: darkgray;"><b>Arizona State University</b></p>

                        <ion-item href="https://www.coursera.org/degrees/bachelor-of-science-computer-science-london">
                            <ion-img src='../../assets/Captura.JPG' style="height: 125% !important;"></ion-img>
                        </ion-item>
                        <br>
                    </ion-card>
                </ion-slide>
                <ion-slide>
                    <ion-card style="background:#ffffff;">
                        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/social-work-umich-banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                        <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                        <p style="color: darkgray;"><b>Social Work MasterTrack® Certificate</b></p>

                        <ion-item href="https://www.coursera.org/mastertrack/social-work-umich">
                            <ion-img src='../../assets/Captura2.JPG' style="height: 125% !important;"></ion-img>
                        </ion-item>
                        <br>
                    </ion-card>
                </ion-slide>
                <ion-slide>
                    <ion-card style="background:#ffffff;">
                        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/miad/maid_banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                        <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                        <p style="color: darkgray;"><b>Arizona State University</b></p>

                        <ion-item href="https://www.coursera.org/degrees/bachelor-of-science-computer-science-london">
                            <ion-img src='../../assets/Captura.JPG' style="height: 125% !important;"></ion-img>
                        </ion-item>
                        <br>
                    </ion-card>
                </ion-slide>
                <ion-slide>
                    <ion-card style="background:#ffffff;">
                        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/social-work-umich-banner.jpg?auto=compress&dpr=1&w=270&h=90&fit=crop" />
                        <h2 style="margin: 0 20px;">Cybersecurity MasterTrack® Certificate</h2>
                        <p style="color: darkgray;"><b>Social Work MasterTrack® Certificate</b></p>

                        <ion-item href="https://www.coursera.org/mastertrack/social-work-umich">
                            <ion-img src='../../assets/Captura2.JPG' style="height: 125% !important;"></ion-img>
                        </ion-item>
                        <br>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </ion-grid>
    </ion-grid>
    <br><br>




    <!-- Footer without a border -->
    <ion-footer>
        <!--    <ion-toolbar>
              <ion-title>Footer</ion-title>  
        </ion-toolbar> -->

        <ion-grid style="background:#ffffff">

            <ion-row style="background:#ffffff; margin: 0px;">
                <ion-col size="12" style="padding: 0px 10px 0px 10px; margin: 0;">
                    <br>
                </ion-col>

                <ion-col size="5.5" style="margin: 5px;">
                    <p style="text-align:left; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Coursera</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);">Acerca de</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);">Qué ofrecemos</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);">Liderazgo</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Catálogo</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Coursera Plus</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Certificados profesionales</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> MasterTrack® Certificates</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Grados</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Para empresas</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Para gobiernos</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Para el campus</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Respuesta COVID</p>
                    <br>
                </ion-col>
                <ion-col size="5.5" style="margin: 5px;">
                    <p style="text-align:left; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Comunidad</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);">Acerca de</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);">Qué ofrecemos</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);">Liderazgo</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Catálogo</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Coursera Plus</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Certificados profesionales</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> MasterTrack® Certificates</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Certificates</p>

                    <br>
                </ion-col>
                <ion-col size="5.5" style="margin: 5px;">
                    <p style="text-align:left; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">Más</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);">Acerca de</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);">Qué ofrecemos</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);">Liderazgo</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Catálogo</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Coursera Plus</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Certificados profesionales</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> MasterTrack® Certificates</p>
                    <p style="text-align:left; font-size: 12px; margin: 5px 0px 0px 0px; color: rgb(0, 0, 0);"> Grados</p>

                    <br>
                </ion-col>




            </ion-row>
            <br>
            <ion-row>
                <ion-col size="12" style="padding: 0px 10px 0px 10px; margin: 0;">
                    <h3 style="padding-left: 12px;">Aprende en cualquier lado</h3>
                </ion-col>


                <ion-col size="5.5" style="margin: 5px;">
                    <img src="../../assets/Captura3.JPG" />

                </ion-col>
                <ion-col size="5.5" style="margin: 5px;">
                    <img src="../../assets/Captura4.JPG" />

                </ion-col>
                <ion-col size="3.5" style="margin: 5px;">

                </ion-col>
                <ion-col size="5" style="margin: 5px;">
                    <img src="../../assets/2018-B-Corp-Logo-Black-S.png" />

                </ion-col>
            </ion-row>


        </ion-grid>
        <br><br>
        <p style="text-align:center; font-size: 10px; margin: 15px 0px 0px 0px; color: rgb(0, 0, 0);">© 2021 Coursera Inc. Todos los derechos reservados.</p>
        <br>
    </ion-footer>








</ion-content>

<style>
    ion-slides {
        height: 100%;
    }
    
    .swiper-slide {
        display: block;
    }
    
    .swiper-slide h2 {
        color: rgb(10, 65, 184);
        margin: 0;
    }
    
    .swiper-slide img {
        max-height: 50%;
        max-width: 80%;
        margin: 60px 0 0 0;
        pointer-events: none;
    }
    
    .center {
        margin-left: auto;
        margin-right: auto;
        display: block !important;
    }
</style>



















<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->